.heading button{
    float:right;
    border: 1px solid white;
}
.heading{
    width: 100%;
}
.big_image{
    width: 100%;
}
#start , #status{
    width: 400px;
    font-size: 20px;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display:inline-block;
    width:45%;
}
video{
    background: url('game_console.png');
    background-size:cover;
    background-position: center;
    padding: 25px;
}